name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    uses: matt-riley/matt-riley-ci/.github/workflows/node-ci.yml@main
    with:
      package-manager: pnpm
      run-lint: true
      run-test: true
      run-build: true
